*{
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
}

.App__header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.App__header div{
  width: 50%;
}




.App__footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

.App__footer div{
  height: 49%;
}

.App__footer div:last-child{
  height: 99%;
}

.StreamElement b{
  padding-right: 20px;
}